<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.notify.mapper.SysNotifyDeliveryLogMapper">

    <delete id="physicalDeleteByNotifyLogIds">
        delete from sys_notify_delivery_log
        where notify_log_id in
        <foreach collection="notifyLogIds" item="notifyLogId" open="(" separator="," close=")">
            #{notifyLogId}
        </foreach>
    </delete>
</mapper>
